img {
	width: 30%;
	float: left;
	margin: 1.66%;/*(100-30*3)/6=1.66*/
}
p{
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	width: 30%;
	padding-bottom: 20px;
}

border color: #bdc3c7
date color #3498db
h2 color #2c3e50
font: source sans pro